.section1 {
    /* style={{ display: 'flex', justifyContent: 'space-evenly', marginBottom: 600 + 'px' }} */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 600px;
}

.section1-Card {
    margin-left: 16px;
    margin-top: 50px;
    z-index: 6;
}

.section1-Habilidade {
    margin-left: 16px;
    margin-top: 50px;
    z-index: 6;
}

.section2-span {
    /* style={{ width: 100 + '%', height: 60 + 'px' }} */
    width: 100%;
    height: 60px;
}

@media screen and (max-width: 763px) {
    .section1{
        justify-content: flex-end;
    }

    .section1-Card{
        align-self: center;
        margin-right: 10px;
        margin-left: 10px;
    }
}