@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.CardHover {
    width: 500px;
    height: auto;

    font-size: 14px;
    transition: all 0.3s ease;

}

.Card {
    min-height: 200px;

    border-radius: 6px;
    padding: 12px;
    background-color: #2A2A32;
    transform-style: preserve-3d;    

    transition: all 0.3s ease;

    box-shadow: 0 1px 5px #00000099;
    
    position: relative;
    z-index: 3;
}

.Card:hover {
    /* transition-duration: 150ms; */
    /* box-shadow: 0 5px 20px 5px #00000044; */
}

.Card h3 {
    font-family: 'Source Code Pro', monospace;
}

.dot-red {
    background-color: #ED4040;
}

.dot-yellow {
    background-color: #ECB62C;
}

.dot-green {
    background-color: #26E05A;
}

.dot-red,
.dot-yellow,
.dot-green {
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 360px;
}

.roxo {
    color: #C678DD;
}

.amarelo {
    color: #E5C07B;
}

.azul {
    color: #56B6C2;
}

.verde {
    color: #98C379;
}

.branco {
    color: #FEFEFE;
}

@media screen and (max-width: 763px) {

    .CardHover {
        max-width: 350px;
        font-size: 10px;
    }

}