.container {
    width: 80px;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem;
    transform: rotate(-45deg);
}

.square {
    background-color: #78D5E9;
    display: grid;
    place-items: center;
    border-radius: 5px;
    animation: load 1.6s ease infinite;
}

@keyframes load {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
        background-color: var(--color);
    }

    100% {
        transform: scale(1);
    }
}

.one {
    --color: magenta;
}

.two {
    animation-delay: 0.1s;
    --color: lime;
}


.three {
    animation-delay: 0.2s;
    --color: blue;
}


.four {
    animation-delay: 0.3s;
    --color: yellow;
}


.five {
    animation-delay: 0.4s;
    --color: orange;
}