@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

.timeline>*,
.timeline {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;

    color: #fff;
    font-weight: 600;
    text-align: justify;
}

.timeline h2 {
    color: #fff;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    transition: all 0.3s ease;
}

.TL-titulo {
    color: #fff;
    border-radius: 6px;
    padding: 6px;
    width: 90%;
    z-index: 2;

    background-color: #2A2A32;
    box-shadow: 0 1px 5px #00000099;
}

.timeline::after {
    background-color: #2A2A32;
    box-shadow: 0 1px 5px #00000099;
    filter: drop-shadow(0px 10px 10px #0000003e);
    position: absolute;
    margin-left: -3px;
    border-radius: 6px;
    content: '';
    width: 6px;
    top: 20px;
    bottom: 130px;
    left: 50%;
}

.TL-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;

    transition: all 0.3s ease;
}

/* BOLINHA */
.TL-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #2A2A32;
    border: 4px solid white;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.TL-left {
    left: 0;
}

.TL-right {
    left: 50%;
}

.TL-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #2A2A32;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #2A2A32;
}

.TL-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #2A2A32;
    border-width: 10px 10px 10px 0;
    border-color: transparent #2A2A32 transparent transparent;
}

.TL-right::after {
    left: -16px;
}

.TL-content {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;

    background-color: #2A2A32;
    box-shadow: 0 1px 5px #00000099;

    /* transition: all 0.3s ease; */
}

/* .TL-content:hover {
    box-shadow: 0 5px 20px 5px #00000044;
} */

@media screen and (max-width: 763px) {

    .timeline::after {
        left: 31px;
    }

    .TL-container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .TL-container::before {
        left: 60px;
        border: medium solid #2A2A32;
        border-width: 10px 10px 10px 0;
        border-color: transparent #2A2A32 transparent transparent;
    }

    .TL-left::after,
    .TL-right::after {
        left: 15px;
    }

    .TL-right {
        left: 0%;
    }
}